                                                /* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #000;
    --second-bg-color: #1a1a1a;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #00ff08;
    --text-btn-color:#000;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --p-small-font: 0.9rem;
}


::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: #00ff08;
    border-radius: 20px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    height: 100vh;
    transition: .5s;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.hidden-topo, .titulo, .hidden-especialidades, .hidden-sobre, .hidden-port, .hidden-form{
    visibility: hidden;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00ff08;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00ff089c;
    transform: scale(1.05);
}


                                                /* ESTILO CABEÇALHO */

header{
    height: 80px;
    width: 100%;
    z-index: 7777;
    background-color: transparent;
    border: 1px solid #00000044;
    border-left: none;
    backdrop-filter: blur(7px);
    position: fixed;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{  
    text-decoration: none;
    color: #fff;     
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

header span{
    color: #00ff08;
}


header nav.menu-desktop a{
    color: #7d7d7d;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    transition: .2s;

}
header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato a button{
    font-size: 14px;
}




                                            /* ESTILO MENU MOBILE */

.btn-abrir-menu i{
    color: #00ff08;
    font-size: 30px;
    display: none;
    margin-right: 30px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;  

}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #00ff08;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a, .menu-mobile nav ul li .trilho .indicador .btn-dark{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;

}

.menu-mobile nav ul li a:hover{
    background-color: #00ff08;
    color: #000;
}

.overlay-menu{
    background-color: #00000083;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

                                    /* ESTILO TOPO DO SITE */

section.topo-do-site{
    padding: 80px 4%;
}
section.topo-do-site .flex{  
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-top: 80px;
}
.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color: #00ff08;
}

.topo-do-site .txt-topo-site{
    width: 300vh;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    width: 500px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top:30px;
    }
}








.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 40px 10px #ffffff1d;
}





.slide{
    margin-bottom: 20px;
}

.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-btn-color);
}

.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px; 
    
}

.home-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.link{
    color: #ccc;
    transition: .5s;
}

.link:hover{
    transition: .5s;
    color: #e4ab32;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.btn{
    display: inline-block;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--main-color);
    color: var(--text-btn-color);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    letter-spacing: 1px;
}

.btn:hover{
    transform: scale(0.9);
}

.btn2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 35px;
}

.btn2 span i{
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}

.btn2 span i:hover{
    transform: scale(0.9);
}











                                                /* ESTILO ESPECIALIDADES */

section.especialidades{
    padding: 90px 4%;
}

section.especialidades .flex{
    gap: 60px;
}


.especialidades .especialidades-box i{
    font-size: 60px;
    color: #00ff08;
}

.especialidades .especialidades-box h3{
    font-size: 20px;
    margin: 15px 0;
}

.main-text{
    text-align: center;
}

.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-height: 300px;
    min-height: 200px;
    text-align: center;
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i{
    font-size: 36px;
    color: var(--main-color);
}

.box h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}



.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: 1.2s;
    
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff5e;

}








                                        /* ESTILO SOBRE */

section.sobre{
    padding: 150px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: var(--text-color);

}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: var(--main-color);
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
                                        /* ESTIlO PORTFOLIO */

section.portfolio{
    padding: 150px 4%;
    box-shadow: 0px 0px 40px 10px #ffffff1d;
}

section.portfolio .flex{
    margin-top: 60px;
    gap: 70px;
    justify-content: space-around;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000091;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}


                                            /* ESTILO FORMULARIO */

section.formulario{
    padding: 100px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: #222222;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO RODAPE */

footer{
    padding: 100px 4%;
    box-shadow: 0px 0px 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .logo-footer img{
    width:90px;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid var(--main-color)
}

footer .line-footer p i{
    color: var(--main-color);
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
    text-decoration: none;

}



/* footer */

footer .logo{  
    text-decoration: none;
    color: var(--text-color);     
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

footer span{
    color: var(--main-color);
}


/* END */

.end{
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color);
}

.last-text p{
    color: var(--second-color);
    font-size: var(--p-font)
}













/* MODO CLARO/ESCURO */

header .trilho{
    width: 50px;
    height: 30px;
    background-color: #4d4d4d;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

header .trilho .indicador{
    background-color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

header .trilho .indicador i{
    color: #ffffff;
    margin-left: 4px;
    font-size: 22px;
}

.trilho.dark{
    background-color: #c3c3c3;
}

.trilho.dark .indicador{
    left: 20px;
    background-color: #fff;
}

.trilho.dark .indicador i{
    color: #000;
}


body.dark{
    background-color: #fff;
}

body.dark .menu-mobile{
    background-color: #c3c3c3;
}

body.dark .menu-mobile nav ul li a{
    color: #000;
}

body.dark .titulo{
    color: #000;
}

body.dark .efeito-txt-dark, body.dark nav.menu-desktop a:hover {
    color: #000;
}

body.dark .formulario .input-dark{
    background-color: #cdcdcd;
    color: #000;
}

                                                /* ESTILO MOBILE */

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */

    header{
        height: 65px;
    }

    header .logo a img{
        width:50px;
        
    }

    .menu-desktop, .btn-contato, .btn-dark-desktop{
        display: none;
    }

    .btn-abrir-menu i{
        display: flex;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex{
        flex-direction: column-reverse;
        gap: 40px;
    }

    section.topo-do-site{
        padding: 100px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }
  
    .topo-do-site .txt-topo-site{
        width: 100%;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* ESPECIALIDADES */

    section.especialidades{
        padding: 40px 8%;
    }

    /* SOBRE */

    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFOLIO */

    section.porfolio{
        padding: 40px 8%;
    }

    .portfolio-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        align-items: center;
        gap: 2.5rem;
        margin-top: 5rem;
    }
    
    .row{
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .row img{
        max-width: 350px;
        min-width: 100%;
        min-height: 375px;
        max-height: 375px;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
    
    .layer{
        width: 100%;
        height: 0%;
        background: linear-gradient(rgba(0, 0, 0, 0.9), var(--main-color));
        position: absolute;
        border-radius: 10px;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 0 40px;
        transition: height 0.5s;
    }
    
    .layer h5{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    
    .layer p{
        color: var(--second-color);
        font-size: var(--p-small-font);
        line-height: 1.8;
    }
    
    .layer i{
        color: var(--main-color);
        margin-top: 20px;
        font-size: 20px;
        background: var(--text-color);
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    
    }










    section.portfolio .flex{
        gap: 60px;
    }

    /* RODAPÉ */

    footer .flex{
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer{
        text-align: center;
    }
}
